.feedback {
  padding: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 18px;
  width: 90%;
  max-width: 800px;
  margin: 0px 30px;
}

.feedback h2 {
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.feedback p {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.feedback form {
  display: flex;
  flex-direction: column;
}

.feedback form p {
  margin-bottom: 10px;
}

.feedback form label {
  display: block;
  margin-bottom: 5px;
}

.feedback form input[type="text"], .feedback form input[type="email"], .feedback form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.feedback form input[type="submit"] {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.feedback form input[type="submit"]:hover {
  background-color: #45a049;
}

.mainfeedback{
  display:flex;
}